.item {
  height: var(--u5);
  padding: var(--u3);
  display: flex;
  align-items: center;
}

.item:hover {
  background-color: var(--gray);
  cursor: pointer;
}

.highlight {
  background-color: var(--blue);
  color: var(--white);
  border-radius: var(--smallUnit);
  padding: 0 5px;
}
