.container {
  width: 500px;
  margin: var(--u3) auto;
  background-color: var(--white);
  border-radius: var(--u);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--u4);
}
